<div id="watchguard-start" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container-fluid py-5">
        <div class="section-title text-center position-relative pb-3 mb-5">
            <h5 class="fw-bold text-primary text-uppercase">Nos Produits</h5>
            <h1 class="mb-0">Watchguard</h1>
        </div>
        <div class="row g-5"> 
            <div class="col-lg-12">
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center justify-content-center mb-3" style="height: 180px;">
                            <img src="assets/img/sec.jpg" alt="Image" class="rounded img-thumbnail" style="object-fit: cover; width: 70%; height: 100%;">
                        </div>
                    </div>
                    <div class="col-lg-8 px-md-2">
                        <h4>SÉCURITÉ INTERNET</h4>
                        <div class="description-box">
                            <p class="mb-0" style="font-family: Calibri, sans-serif; font-weight: 500; font-size: 1.05em;">WatchGuard propose une gamme complète de solutions de sécurité réseau pour faire face aux menaces de sécurité en constante évolution auxquelles les organisations sont confrontées. Leur offre comprend une grande variété d'appareils de sécurité réseau, allant des dispositifs de bureau aux unités montées en rack 1U. Ils proposent également une gamme de services de sécurité essentiels tels que la norme IPS, le filtrage d'URL, Gateway AV, le contrôle des applications et l'antispam. En plus de ces services, WatchGuard propose des solutions avancées de lutte contre les menaces, telles que le sandboxing de fichiers et le filtrage DNS.</p>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-12">
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-4 wow zoomIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center justify-content-center mb-3" style="height: 180px;">
                            <img src="assets/img/sec2.jpg" alt="Image" class="rounded img-thumbnail" style="object-fit: cover; width: 70%; height: 100%;">
                        </div>
                    </div>
                    <div class="col-lg-8 px-md-2">
                        <h4>SÉCURITÉ DES IDENTITÉS ET MFA</h4>
                      <div class="description-box">
                           <p class="mb-0" style="font-family: Calibri, sans-serif; font-weight: 500; font-size: 1.05em;">Les services AuthPoint de WatchGuard sont une solution opportune et efficace pour l'authentification et la gestion des informations d'identification sur une plateforme Cloud conviviale. L'authentification multifacteur offre une méthode robuste d'identification des utilisateurs en exigeant qu'ils fournissent à la fois des informations qu'ils connaissent et des informations fondées sur quelque chose qu'ils possèdent, ce qui permet de valider positivement l'identité d' 'une personne spécifique. Les mots de passe peuvent constituer un maillon faible, mais en utilisant un gestionnaire de mots de passe d'entreprise et en surveillant le Dark Web.</p>
                      </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-12">
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-4 wow zoomIn" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center justify-content-center mb-3" style="height: 180px;">
                            <img src="assets/img/sec3.png" alt="Image" class="rounded img-thumbnail" style="object-fit: cover; width: 70%; height: 100%;">
                        </div>
                    </div>
                    <div class="col-lg-8 px-md-2">
                        <h4>WIFI SÉCURISÉ</h4>
                        <div class="description-box">
                           <p class="mb-0" style="font-family: Calibri, sans-serif; font-weight: 500; font-size: 1.05em;">La solution Wi-Fi de WatchGuard Cloud simplifie la gestion des services de sécurité pour les travailleurs à distance et les effectifs distribués. Vous pouvez personnaliser un portail captif, assurer une sécurisation VPN robuste et fournir un cryptage WPA3 aux utilisateurs pour renforcer la sécurité. Grâce à une interface centralisée, vous pouvez afficher une visibilité complète sur des informations essentielles telles que la couverture du signal, la consommation de bande passante des clients sans fil, l'utilisation des points d'accès et la répartition des clients. Cette visibilité vous permet de maintenir une vue d'ensemble complète de votre réseau Wi-Fi au sein d'une seule interface.</p>
                    
                        </div>
                  </div>
                </div>
            </div>  
            <div class="col-lg-12">
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                        <div class="d-flex align-items-center justify-content-center mb-3" style="height: 180px;">
                            <img src="assets/img/sec4.png" alt="Image" class="rounded img-thumbnail" style="object-fit: cover; width: 70%; height: 100%;">
                        </div>
                    </div>
                    <div class="col-lg-8 px-md-2">
                        <h4>SÉCURITÉ DES TERMINAUX</h4>
                        <div class="description-box">
                           <p class="mb-0" style="font-family: Calibri, sans-serif; font-weight: 500; font-size: 1.05em;">WatchGuard Endpoint Security propose une vaste gamme de solutions évolutives conçues pour arrêter les violations de sécurité, le vol de données et les cyberattaques. Leur plateforme basée sur le cloud intègre la technologie, l'intelligence et l'expertise nécessaires pour offrir des fonctionnalités avancées de prévention, de détection, de confinement et de réponse grâce à un agent léger. Vous pouvez bénéficier d'une protection complète tout au long du cycle de vie des menaces en ajoutant des produits tels que DNSWatchGO, qui offre une protection au niveau DNS pour les terminaux, le tout dans une seule offre intégrée.</p>
                    
                        </div>
                  </div>
                </div>
            </div>  
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-auto text-center">
                <div style="margin-top: 80px;"></div>
                <div class="d-flex justify-content-between">
                    <a routerLink="/Devis" fragment="devis-start" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Demander un Devis</a>
                    <a routerLink="/Contact" fragment="contact-start" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight btn-black-border">Contactez-nous</a>
                </div>
            </div>
        </div>    
    </div>
</div>
