<!-- Spinner Start -->
<!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div> -->
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-dark px-lg-5 d-none d-lg-block"> <!-- Utilisation de px-lg-5 pour le padding sur les grands écrans -->
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="me-lg-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>02 Avenue Farhat Hached 4th floor -Office 43 - Ariana 2080</small> <!-- Utilisation de me-lg-3 pour le margin sur les grands écrans -->
                <small class="me-lg-3 text-light"><i class="fa fa-phone-alt me-2"></i>
                     00 (216) 22 741 725</small> <!-- Utilisation de me-lg-3 pour le margin sur les grands écrans -->
                <small class="text-light"><i class="fa fa-envelope-open me-2"></i>commercial@ideal-connect.tn</small>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://api.whatsapp.com/send?phone=22741725"><i class="fab fa-whatsapp"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.linkedin.com/company/idealconnect/?originalSubdomain=tn"><i class="fab fa-linkedin-in fw-normal"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

