<!-- Testimonial Start -->
<div id="client-start" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Nos Clients Parlent De Nous</h5>
            <h1 class="mb-0">La satisfaction de nos clients
                au cœur de nos actions</h1>
        </div>
<div class="testimonial-container">
    <div class="testimonial-list">
        <div class="testimonial-item">
            <img src="assets/img/im13.jpg" style="width: 70px; height: 60px;" alt="Client 1">
            <h4 class="text-primary mb-1" style="margin-top: 20px;">ISI Inegration</h4>
            <p style="margin-top: 10px;">Notre partenariat avec Ideal Connect a été exceptionnel. Leur expertise technique a été un atout majeur pour notre entreprise, nous permettant d'aller de l'avant en toute confiance dans nos projets de sécurité informatique. </p>
        </div>
        <div class="testimonial-item">
            <img src="assets/img/im11.jpg" style="width: 70px; height: 60px;" alt="Client 2">
            <h4 class="text-primary mb-1" style="margin-top: 20px;">Gdoura Group</h4>
            <p style="margin-top: 10px;">Ideal Connect est un partenaire fiable sur lequel nous pouvons compter. Leur approche professionnelle et leur équipe dédiée ont renforcé notre confiance envers leurs services, tout en apportant une expertise technique précieuse pour notre infrastructure réseau.</p>
        </div>
        <div class="testimonial-item">
            <img src="assets/img/im4.jpg" style="width: 70px; height: 60px;" alt="Client 3">
            <h4 class="text-primary mb-1" style="margin-top: 20px;">Cloud Temple</h4>
            <p style="margin-top: 10px;">Ideal Connect a été un pilier essentiel pour la sécurité de nos installations. Leur expertise technique et leur engagement envers la qualité, combinés à une équipe compétente, nous ont apporté une grande tranquillité d'esprit.</p>
        </div>
        <div class="testimonial-item">
            <img src="assets/img/imm2.png" style="width: 70px; height: 60px;" alt="Client 4">
            <h4 class="text-primary mb-1" style="margin-top: 20px;">Le Moteur</h4>
            <p style="margin-top: 10px;">Notre collaboration avec Ideal Connect a considérablement amélioré notre infrastructure grâce à leur expertise technique, leur attention aux détails et l'efficacité de leur équipe, nous offrant une maintenance fiable et une confiance totale.</p>
        </div>
        <div class="testimonial-item">
            <img src="assets/img/im2.jpg" style="width: 70px; height: 60px;" alt="Client 2">
            <h4 class="text-primary mb-1" style="margin-top: 20px;">Regus</h4>
            <p style="margin-top: 10px;">Nous exprimons notre gratitude envers Ideal Connect pour leur soutien en sécurité. Leur équipe professionnelle renforce notre confiance en leurs services, en particulier en matière de maintenance et de sécurité électronique, un atout majeur pour notre entreprise.</p>
        </div>
    </div>
</div>

<div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px; margin-top: 70px;">
    <h5 class="fw-bold text-primary text-uppercase">Parmi Nos Références</h5>
</div>
<div class="testimoniall-container">
<div class="testimoniall-list" style="display: flex; justify-content: space-around; align-items: center;">
    <img src="assets/img/im1.jpg" style="width: 70px; height: 60px;" alt="Client 1">
    <img src="assets/img/im13.jpg" style="width: 70px; height: 60px;" alt="Client 2">
    <img src="assets/img/im11.jpg" style="width: 70px; height: 60px;" alt="Client 3">
    <img src="assets/img/im4.jpg" style="width: 70px; height: 60px;" alt="Client 4">
    <img src="assets/img/im05.png" style="width: 70px; height: 60px;" alt="Client 5">
    <img src="assets/img/im2.jpg" style="width: 70px; height: 60px;" alt="Client 6">
    <img src="assets/img/imm1.png" style="width: 70px; height: 60px;" alt="Client 7">
    <img src="assets/img/imm2.png" style="width: 70px; height: 60px;" alt="Client 8">
    <img src="assets/img/imm3.png" style="width: 70px; height: 60px;" alt="Client 9">
    <img src="assets/img/im08.png" style="width: 70px; height: 60px;" alt="Client 10">
    <img src="assets/img/im8.jpg" style="width: 70px; height: 60px;" alt="Client 11">
    <img src="assets/img/im6.jpg" style="width: 70px; height: 60px;" alt="Client 12">
    <img src="assets/img/im14.jpg" style="width: 70px; height: 60px;" alt="Client 13">
    <img src="assets/img/im15.jpg" style="width: 70px; height: 60px;" alt="Client 14">
    <img src="assets/img/imoo.png" style="width: 70px; height: 60px;" alt="Client 15">
    <img src="assets/img/im04.png" style="width: 70px; height: 60px;" alt="Client 16">
    <img src="assets/img/im3.jpg" style="width: 70px; height: 60px;" alt="Client 17">
    <img src="assets/img/im7.jpg" style="width: 70px; height: 60px;" alt="Client 18">
    <img src="assets/img/imooo.jfif" style="width: 70px; height: 60px;" alt="Client 19">
</div>
</div>


    
    
</div>
</div>
<!-- Testimonial End -->
