<div id="akcp-start" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container-fluid py-5">
        <div class="section-title text-center position-relative pb-3 mb-5">
            <h5 class="fw-bold text-primary text-uppercase">Nos Produits</h5>
            <h1 class="mb-0">AKCP Monitoring Data Center</h1>
        </div>
        <div class="row g-5">
          <div class="col-lg-12 d-flex align-items-center justify-content-center flex-column">
              <div class="wow zoomIn" data-wow-delay="0.3s">
                  <div class="d-flex align-items-center justify-content-center mb-3 " style="width: 100vw; position: relative;">
                      <div  class="blc_img_txt" style="position: relative; width: 100%;">
                          <!-- <img src="assets/img/fibk.jpg" alt="Image" style="object-fit: cover; width: 100%; height: 64vh;"> -->
                          <div  class="blc_img0" style="top: 0; left: 0; width: 100%; height: 100%; display: flex;">
                              <div class="blc_img" >
                                  <strong>
                                      <h2 style="color: rgb(12, 11, 11);">Le plus ancien et le plus grand fabricant au monde de capteurs filaires et sans fil compatibles SNMP</h2>
                                  </strong>
                                  <p style="color: rgb(10, 10, 10); font-size: 18px;">
                                    Le centre de données AKCP est un pionnier mondial dans la fabrication de capteurs câblés et sans fil compatibles avec SNMP (Simple Network Management Protocol). Forte de son expérience en tant que plus ancien et plus grand fabricant de ce type de capteurs, AKCP est reconnu pour fournir des solutions de surveillance et de gestion de données de haute qualité pour les environnements critiques.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
     </div> 
       <div style="margin-top: 30px; margin-bottom: 50px; ">
        <div class="text-center">
        <h2>De la surveillance simple des capteurs</h2>
        <h2>aux centres de données HyperScale</h2>
       </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
            <div class="blog-item bg-light rounded overflow-hidden">
              <div class="blog-img position-relative overflow-hidden">
                <a routerLink="/Devis" fragment="devis-start">
                  <img class="img-fluid product-img" src="assets/img/ako.jpg" alt="">
                </a>
              </div>
              <div class="p-4 text-center">
                <h4 class="mb-3">Surveillance des capteurs</h4>
              </div>
            </div>
          </div>                                                                
          <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
            <div class="blog-item bg-light rounded overflow-hidden">
              <div class="blog-img position-relative overflow-hidden">
                <a routerLink="/Devis" fragment="devis-start">
                  <img class="img-fluid product-img" src="assets/img/ff.png" alt="">
                </a>
              </div>
              <div class="p-4 text-center">
                <h4 class="mb-3">Surveillance Data Center</h4>
              </div>
            </div>
          </div>    
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-auto text-center">
            <div style="margin-top: 80px;"></div>
            <div class="d-flex justify-content-between">
                <a routerLink="/Devis" fragment="devis-start" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Demander un Devis</a>
                <a routerLink="/Contact" fragment="contact-start" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight btn-black-border">Contactez-nous</a>
            </div>
        </div>
    </div>    
    </div>
</div>
