.blc_img_txt{
    background-image: url(/assets/img/fhhh.png);
    background-size: cover;
    height: 60vh;
}


/* .blc_img {
    border: solid #000000;
    padding-right: 50%;
    padding-left: 5%;
    padding-top: 4%;
} */



@media screen and (min-width: 769px) {
    .blc_img {
        /* border: solid #000000; */
        padding-right: 50%;
        padding-left: 5%;
        padding-top: 4%;
    }
    
}
@media screen and (max-width: 769px) {
    .blc_img {
        /* border: solid #000000; */
        /* padding-right: 50%; */
        /* padding-left: 5%; */
        padding: 4%;
    }
    
}