<!-- Service Start -->
<div id="fortinet-start" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Nos Produits</h5>
            <h1 class="mb-0">Les piliers clés de la Fortinet Security Fabric</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-shield-alt "></i>
                    </div>
                    <h4 class="mb-3">Sécurité basée sur l'IA FortiGuard</h4>
                    <p class="m-0">Elle permet une détection et une application rapides et coordonnées sur l'ensemble de la surface d'attaque.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-network-wired "></i>
                    </div>
                    <h4 class="mb-3">Réseautage sécurisé</h4>
                    <p class="m-0">Fortinet Secure Networking répond aux défis de l'accélération numérique en intégrant étroitement l'infrastructure réseau avec une sécurité avancée sur tous les bords.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-lock "></i>
                    </div>
                    <h4 class="mb-3">Sécurité des utilisateurs et des appareils</h4>
                    <p class="m-0">Elle fournit à la fois des protections des terminaux basées sur les signatures et basées sur le comportement.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fab fa-android "></i>
                    </div>
                    <h4 class="mb-3">Sécurité des applications</h4>
                    <p class="m-0">permettant des applications sécurisées et une connectivité dans le centre de données et sur les ressources cloud tout en maximisant les avantages du cloud computing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-globe "></i>
                    </div>
                    <h4 class="mb-3">Écosystème ouvert</h4>
                    <p class="m-0">L'activation d'un vaste écosystème minimise les lacunes dans les architectures de sécurité d'entreprise tout en maximisant le retour sur investissement (ROI) de la sécurité.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <a routerLink="/Devis" fragment="devis-start" class="btn btn-light py-md-3 px-md-5 me-3 animated slideInLeft" style="margin-bottom: 20px;">Obtenir un Devis</a>
                    <h4 class="text-white mb-3">Appelez pour poser vos questions</h4>
                    <h4 class="text-white mb-0">00 (216) 22 741 725</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
  
