<div id="bitdefender-start" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container-fluid py-5">
        <div class="section-title text-center position-relative pb-3 mb-5">
            <h5 class="fw-bold text-primary text-uppercase">Nos Produits</h5>
            <h1 class="mb-0">Bitdefender</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-12 d-flex align-items-center justify-content-center flex-column">
                <div class="wow zoomIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center justify-content-center mb-3 " style="width: 100vw; position: relative;">
                        <div  class="blc_img_txt" style="position: relative; width: 100%;">
                            <!-- <img src="assets/img/fibk.jpg" alt="Image" style="object-fit: cover; width: 100%; height: 64vh;"> -->
                            <div  class="blc_img0" style="top: 0; left: 0; width: 100%; height: 100%; display: flex;">
                                <div class="blc_img" >
                                    <strong>
                                        <h2 style="color: rgb(12, 11, 11);">Bitdefender est un leader de la cybersécurité qui propose les meilleures solutions de prévention, de détection et de réponse aux menaces dans le monde entier</h2>
                                    </strong>
                                    <p style="color: rgb(10, 10, 10); font-size: 18px;">
                                        Bitdefender fournit des solutions de cybersécurité avec une efficacité de sécurité, des performances et une facilité d'utilisation de pointe aux petites et moyennes entreprises, aux entreprises de taille moyenne et aux consommateurs. Guidé par la vision d'être le fournisseur de solutions de cybersécurité le plus fiable au monde, Bitdefender s'engage à défendre les organisations et les individus du monde entier contre les cyberattaques afin de transformer et d'améliorer leur expérience numérique.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div> 
       <div style="margin-top: 30px;">
        <h1>Sécurité d'entreprise</h1>
        <h1>GravityZone</h1>
       </div>   
       <div class="flex-container">
        <div class="flex-item">
            <p style="margin: 0;">
                GravityZone est une solution de sécurité d'entreprise puissante et complète conçue pour 
                protéger les environnements informatiques professionnels contre les menaces cybernétiques. 
                GravityZone offre une protection avancée contre les attaques de logiciels malveillants, 
                les ransomwares, les tentatives de phishing et d'autres formes d'intrusions potentiellement nuisibles.
                En utilisant une approche de sécurité à plusieurs niveaux, GravityZone combine des technologies 
                de pointe telles que l'apprentissage automatique (machine learning), l'intelligence artificielle (IA) 
                et l'analyse comportementale pour détecter les menaces émergentes et inconnues. 
                Cette approche proactive permet de bloquer les attaques avant qu'elles ne puissent causer des 
                dommages importants aux systèmes et aux données de l'entreprise.
            </p>
        </div>
        <div class="flex-item">
            <img src="assets/img/imo.png" alt="Photo sur Bita" style="max-width: 90%; height: auto; margin: 0 40px;">
        </div>
    </div>
    
    
    
       <div style="margin-top: 30px;">
        <h2>Technologies de sécurité d'entreprise</h2>
        <h2>GravityZone</h2>
       </div> 
       <div style="flex-basis: 50%; padding: 55px; margin-left: -50px;">
        <p>
        Une architecture adaptative en couches qui inclut les contrôles, la prévention, la détection, 
        la correction et la visibilité des terminaux. <br>
        </p>
        <div style="text-align: center;">
           <img src="assets/img/bite.png" alt="Photo sur Bita" style="width: 97%; height: 67%; margin-top: 40px;">
        </div>
       </div>
       <div class="row justify-content-center">
        <div class="col-lg-auto text-center">
            <div style="margin-top: 80px;"></div>
            <div class="d-flex justify-content-between">
                <a routerLink="/Devis" fragment="devis-start" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Demander un Devis</a>
                <a routerLink="/Contact" fragment="contact-start" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight btn-black-border">Contactez-nous</a>
            </div>
        </div>
    </div>    
    </div>
</div>





