<!-- Blog Start -->
<div id="produits-start" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-12">
                <div class="position-fixed end-0 top-50 translate-middle-y" style="z-index: 9999;">
                    <a routerLink="/Devis" fragment="devis-start" class="btn btn-primary">Demander un Devis</a>
                </div>
            </div>
            <!-- Blog list Start -->
            <div class="col-lg-12">
                <div class="row g-5">
                    <div class="section-title  text-center position-relative pb-3 mb-5">
                        <h1 class="mb-0">Sécurité Informatique</h1>
                    </div>
                    <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="assets/img/pl.png" alt="" style="width: 400px; height: 300px;">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a class="btn btn-lg btn-primary rounded" routerLink="/Watchguard" fragment="watchguard-start">
                                      <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-4 text-center">
                                <h4 class="mb-3" style="font-size: 19px;">Watchguard</h4>
                                <h4 class="mb-3" style="font-size: 14px; margin-top: -10px; ">Smart Security, Simply Done</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="assets/img/info3.jpg" alt="" style="width: 400px; height: 300px;">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a class="btn btn-lg btn-primary rounded" routerLink="/Fortinet" fragment="fortinet-start">
                                      <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-4 text-center">
                                <h4 class="mb-3" style="font-size: 19px;">Fortinet</h4>
                                <h4 class="mb-3"style="font-size: 14px; margin-top: -10px; ">Cybersecurity, everywhere you need it</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="assets/img/bitn.png" alt="" style="width: 400px; height: 300px;">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a class="btn btn-lg btn-primary rounded" routerLink="/Bitdefender" fragment="bitdefender-start">
                                      <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-4 text-center">
                                <h4 class="mb-3" style="font-size: 19px;">Bitdefender</h4>
                                <h4 class="mb-3" style="font-size: 14px; margin-top: -10px;">Leader mondial en cybersécurité</h4>
                            </div>
                        </div>
                    </div>
                    <div class="section-title  text-center position-relative pb-3 mb-5">
                        <h1 class="mb-0">Cablage & Outils</h1>
                    </div>
                    <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="assets/img/res.png" alt="" style="width: 400px; height: 300px;">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a class="btn btn-lg btn-primary rounded" routerLink="/Devis" fragment="devis-start">
                                      <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-4 text-center">
                                <h4 class="mb-3"style="font-size: 20.8px;">Switch/Routeurs/Point d'accès</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="assets/img/fibn.jpeg" alt="" style="width: 400px; height: 300px;">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a class="btn btn-lg btn-primary rounded" routerLink="/Fibre" fragment="fibre-start">
                                      <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-4 text-center">
                                <h4 class="mb-3">Fibre Optique</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="assets/img/acc.png" alt="" style="width: 400px; height: 300px;">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a class="btn btn-lg btn-primary rounded" routerLink="/Devis" fragment="devis-start">
                                      <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-4 text-center">
                                <h4 class="mb-3">Cable RJ45 et Accessoires </h4>
                            </div>
                        </div>
                    </div>
                    <div class="section-title  text-center position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">Nos Produits</h5>
                        <h1 class="mb-0">Sécurité Electronique</h1>
                    </div>
                    <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                          <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="assets/img/vid.png" alt="" style="width: 400px; height: 300px;">
                            <div class="overlay d-flex align-items-center justify-content-center">
                              <a class="btn btn-lg btn-primary rounded" routerLink="/VidéoSurveillance" fragment="video-start">
                                <i class="bi bi-arrow-right"></i>
                              </a>
                            </div>
                          </div>
                          <div class="p-4 text-center">
                            <h4 class="mb-3">Vidéo Surveillance</h4>
                          </div>
                        </div>
                      </div>                                                                
                      <div class="col-md-4 wow slideInUp" data-wow-delay="0.3s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                          <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="assets/img/alaro.png" alt="" style="width: 400px; height: 300px;">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a class="btn btn-lg btn-primary rounded" routerLink="/Devis" fragment="devis-start">
                                      <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-4 text-center">
                                <h4 class="mb-3">Alarme anti-intrusion</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow slideInUp" data-wow-delay="0.6s">
                        <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                                <img class="img-fluid" src="assets/img/recy.png" alt="" style="width: 400px; height: 300px;">
                                <div class="overlay d-flex align-items-center justify-content-center">
                                    <a class="btn btn-lg btn-primary rounded" routerLink="/Devis" fragment="devis-start">
                                      <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-4 text-center">
                                <h4 class="mb-3">Controle d'accés</h4>
                            </div>
                        </div>
                    </div>
                    <div class="section-title text-center position-relative pb-3 mb-5">
                        <h1 class="mb-0">Surveillance du Data Center</h1>
                      </div>
                      
                      <div class="row justify-content-center"> <!-- Ajout de la classe 'justify-content-center' pour centrer horizontalement -->
                        <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
                          <div class="blog-item bg-light rounded overflow-hidden">
                            <div class="blog-img position-relative overflow-hidden">
                              <img class="img-fluid" src="assets/img/sur1.jpg" alt="" style="width: 400px; height: 300px;">
                              <div class="overlay d-flex align-items-center justify-content-center">
                                <a class="btn btn-lg btn-primary rounded" routerLink="/Akcp" fragment="akcp-start">
                                  <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                            </div>
                            <div class="p-4 text-center">
                              <h4 class="mb-3">AKCP Monitoring Data Center</h4>
                            </div>
                          </div>
                        </div>
                      </div>                      
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->



