<div id="fibre-start" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container-fluid py-5">
        <div class="section-title text-center position-relative pb-3 mb-5">
            <h5 class="fw-bold text-primary text-uppercase">Nos Produits</h5>
            <h1 class="mb-0">Fibre Optique</h1>
        </div>
        <div class="row g-5">
          <div class="col-lg-12 d-flex align-items-center justify-content-center flex-column">
              <div class="wow zoomIn" data-wow-delay="0.3s">
                  <div class="d-flex align-items-center justify-content-center mb-3 " style="width: 100vw; position: relative;">
                      <div  class="blc_img_txt" style="position: relative; width: 100%;">
                          <!-- <img src="assets/img/fibk.jpg" alt="Image" style="object-fit: cover; width: 100%; height: 64vh;"> -->
                          <div  class="blc_img0" style="top: 0; left: 0; width: 100%; height: 100%; display: flex;">
                              <div class="blc_img" >
                                  <strong>
                                      <h2 style="color: rgb(12, 11, 11);">Construisez l'avenir de votre entreprise avec un réseau en fibre optique ultraperformant</h2>
                                  </strong>
                                  <p style="color: rgb(10, 10, 10); font-size: 18px;">
                                      La mise en place d'une infrastructure de fibre optique est devenue essentielle pour les entreprises cherchant à établir une connectivité rapide, fiable et évolutive.Le choix des composants de fibre optique tels que les câbles, les connecteurs et les équipements actifs revêt une importance capitale. Opter pour des matériaux de haute qualité et compatibles avec les normes en vigueur garantira une performance optimale du réseau et réduira les risques de défaillance.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
     </div> 
     <div style="margin-top: 30px; margin-bottom: 50px; ">
      <div class="text-center">
      <h2>Les Cables de Fibre Optique </h2>
     </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <table class="table table-bordered" style="border-color: #444242;">
              <tbody>
                  <tr>
                      <td>Types</td>
                      <td>Vitesse</td>
                  </tr>
                  <tr>
                      <td>OM1</td>
                      <td>Multimode 62,5/125</td>
                  </tr>
                  <tr>
                      <td>OM2</td>
                      <td>Multimode 50/125 1 Gigabit</td>
                  </tr>
                  <tr>
                      <td>OM3</td>
                      <td>Multimode 50/125 10 Gigabit</td>
                  </tr>
                  <tr>
                      <td>OM4</td>
                      <td>Multimode 50/125 40 Gigabit</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="col-lg-6 wow zoomIn" data-wow-delay="0.2s">
          <div class="d-flex align-items-center justify-content-center mb-3" style="height: 208px;">
              <img src="assets/img/om.png" alt="Image" class="rounded img-thumbnail" style="object-fit: cover; width: 100%; height: 100%;">
          </div>
      </div>
  </div>  
  <div style="margin-top: 30px; margin-bottom: 50px; ">
    <div class="text-center">
    <h2>Les Modules de Fibre Optique </h2>
   </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <a routerLink="/Devis" fragment="devis-start">
              <img class="img-fluid product-img" src="assets/img/ml.png" alt="">
            </a>
          </div>
          <div class="p-4 text-center">
            <h4 class="mb-3" style="font-size: 18px;">Module émetteur/récepteur optique SFP sur fibre Gigabit 1G/10G</h4>
          </div>
        </div>
      </div>                                                                
      <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <a routerLink="/Devis" fragment="devis-start">
              <img class="img-fluid product-img" src="assets/img/ekher.png" alt="">
            </a>
          </div>
          <div class="p-4 text-center">
            <h4 class="mb-3"style="font-size: 18px;">Convertisseur Fibre-optique Ethernet (RJ45)</h4>
          </div>
        </div>
      </div>    
      <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <a routerLink="/Devis" fragment="devis-start">
              <img class="img-fluid product-img" src="assets/img/mlo.png" alt="">
            </a>
          </div>
          <div class="p-4 text-center">
            <h4 class="mb-3"style="font-size: 18px;">Module SFP+ vers Ethernet RJ45</h4>
            <h4 class="mb-3"style="font-size: 18px; margin-top: -15px;">10 Gbps </h4>
          </div>
        </div>
      </div>    
    </div>
  </div>
   
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
          <div style="margin-top: 80px;"></div> <!-- Ajout d'un espace plus grand -->
          <div class="d-flex justify-content-center">
              <a routerLink="/Devis" fragment="devis-start" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Demander un Devis</a>
              <a routerLink="/Contact" fragment="contact-start" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight btn-black-border">Contactez-nous</a>
          </div>
       </div>
      </div>  
  </div>
</div>
